@model IEnumerable<Hometown_Application.Models.VehicleGatepassModel>

@{
    ViewData["Title"] = "Vehicle Gate Passes";
}

<h1>@ViewData["Title"]</h1>

<a asp-controller="VehicleGatepass" asp-action="Create" class="btn btn-secondary">
    <i class="fas fa-comment"></i>Create
</a>
<table class="table">
    <thead>
        <tr>
            <th>Vehicle Brand</th>
            <th>Added By</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Where(v => !v.IsDeleted))
        {
            <tr>
                <td>@item.VehicleBrand</td>
                <td>@item.ApplicationUser.UserName</td>
                <td>
                    <a asp-controller="VehicleGatePass" asp-action="Edit" asp-route-id="@item.VehicleId" class="btn btn-primary">
                        Edit
                    </a>


                    <!-- Delete Button -->
                    <a href="@Url.Action("Delete", "VehicleGatePass", new { id = item.VehicleId })" class="btn btn-danger">
                        Delete
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>
