@model IEnumerable<(Hometown_Application.Areas.Identity.Data.ApplicationUser User, string Role)>

<h1>User Management</h1>

<h1>Admin Access Only</h1>

<a asp-controller="UserManagement" asp-action="ChangeRole" class="btn btn-secondary">Change Role</a>


<table class="table table-bordered">
    <thead>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Username</th>
            <th>Role</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.User.FirstName</td>
                <td>@item.User.LastName</td>
                <td>@item.User.Email</td>
                <td>@item.User.UserName</td>
                <td>@item.Role</td> <!-- Role from tuple -->
            </tr>
        }
    </tbody>
</table>
